.common {
  padding: 0.450rem 0.850rem;
  font-size: var(--font-size-md);
  font-family: inherit;
  font-weight: var(--font-weight-semibold);
  border-radius: var(--border-radius-md);
  outline: 0px solid transparent;
  border-color: #E2E8F0;
  border-style: solid;
}
.common.error {
  border-color: var(--error-color);
}
.common.fullWidth {
  width: 100%;
}

.label {
  display: block;
  font-weight: var(--font-weight-bold);
  margin-bottom: 5px;
}

.helperText {
  margin-left: 2px;
  margin-top: 3px;
  font-size: var(--font-size-sm);
}
.helperText.error {
  color: var(--error-color);
}

