.common {
  display: inline-flex;
  padding: 0.450rem 1.225rem;
  border-radius: var(--border-radius-md);
  border-color: transparent;
  outline: transparent solid 0px;
  background: var(--primary-color);
  color: var(--primary-contrast-color);
  font-family: inherit;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  transition: 0.2s;
}
.common:active {
  background: var(--primary-color-lighter);
}

.error {
  background: var(--error-color);
}
.error:active {
  background: var(--error-color-darker);
}

.success {
  background: var(--success-color);
}
.success:active {
  background: var(--success-color-darker);
}
